# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/

# ignore these plugins
wp-content/plugins/hello.php

# ignore specific themes
wp-content/themes/twenty*/

# ignore node dependency directories
node_modules/

# ignore log files and databases
*.log
*.sql
*.sqlite

# ignore wp root dir files
/*.php
/*.txt
/*.html

# ignore wp root dirs, except wp-content
wp-includes/
wp-admin/

# ignore dir index files
wp-content/index.php
wp-content/themes/index.php
wp-content/plugins/index.php
wp-admin/index.php
wp-admin/network/index.php
wp-admin/user/index.php

# ignore plugins
wp-content/plugins/akismet/

